@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root{
    --line-border-fill: blueviolet;
    --line-border-empty: lightgray; 
}

*{
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Lexend', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


/* Ana konteynırımızın özelliklerini yazıyoruz. */
.container{
    text-align: center;
}

/* progres-container class'ımız için özelliklerini yazıyoruz */
.progress-container{
display: flex;
justify-content: space-between;
position: relative;
margin-bottom: 30px;
max-width: 100%;
width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    
}

/* progress class sadece çizgi için açılan sınıfın özellikleri */
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .9s ease;
}


/* circle halkamızın özelliklerini yazıyoruz. */

.circle{
    background-color: var(--line-border-empty);
    color: darkblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .9s ease;
}

/* Eğer circle sınıfımız active olursa border rengimizi alacak. */
.circle.active{
    border-color: var(--line-border-fill);
}

/* Son element olarak buttonlarımızın sınıf btn nin özelliklerini giriyorum. */
.btn{
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}
.btn:active{
    transform: scale(.90);

}